@keyframes colorful {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    appearance: none;
    border-style: none;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, span, p {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.card {
    position: relative;
    width: 300px;
    height: 350px;
    margin: 1em;
    background: rgba(173, 216, 230, 0.5);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(40px);
    border: solid 2px transparent;
    background-clip: padding-box;
    box-shadow: 0px 10px 10px rgba(46, 54, 68, 0.03);
}

.card .content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* opacity: 0.5; */
    transition: 0.5s;
}

.card .content .img {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid rgba(0, 0, 0, 0.25);
    background-color: white;
}

.card .content .img img {
    width: 80%;
    height: 80%;
    object-fit: cover;
}

.content{
    transform: translateY(40px);
}

.card .content .cardContent .visible-details h3 {
    color: #0f0058;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;
    max-width: 200px;
}

.card .content .cardContent .visible-details .tech-name {
    color: #0f0058;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    text-transform: initial;
}

.card:hover .content {
    opacity: 1;
    transform: translateY(-10px);
}

.card .hidden-details {
    transform: translateY(-40px);
    opacity: 0;
    transition: 0.4s;
    transition-timing-function: ease-in;
}

.card .hidden-details .description{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

.card:hover .hidden-details {
    transform: translateY(0px);
    opacity: 1;
}

.rating-parent {
    font-size: 18px;
    color: #0f0058;
}

.rating-parent img {
    height: 20px;
    width: 20px;
}

.rating-parent span {
    color: #0f0058;
}

.visit-button {
    background-color: #0f0058;
    border: 0px solid lightblue;
    border-radius: 50px;
}

.visit-button a {
    text-decoration: none;
}

.visit-button span {
    font-weight: 600;
}